import {StripeConnectConfiguration} from "../src/configuration/StripeConnectConfiguration";

export class TestingStripeConnectionConfiguration {

    /**
     * The connect customer. Taken from your Stripe console.
     */
    static readonly STRIPE_CUSTOMER = 'cus_B8Fbaccxxxxxxxx';


    /**
     * The connected stripe account. Taken from the Stripe console.
     */
    static readonly STRIPE_ACCOUNT = 'acct_1AB1KmLwxxxxxxxx';


    // -------------------------------------------------------------------------
    // Static functions.
    // -------------------------------------------------------------------------

    static config(): StripeConnectConfiguration {
        const config: StripeConnectConfiguration = new StripeConnectConfiguration();
        config.stripeConnectAuthorizeURL = 'https://connect.stripe.com/oauth/token';
        config.stripeConnectDeAuthorizeURL = 'https://connect.stripe.com/oauth/deauthorize';
        config.stripeClientId = 'ca_xxxxxxxxxxxxxxxxx';
        config.stripeSecretKey = 'sk_test_xxxxxxxxxxxxxxxxxxxxxx';
        return config;
    }

}